#header{
    box-shadow: 2px 5px 10px #0000000e;
}
#header > nav.container{
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
#header > nav.container > .logo{
    display: flex;
    align-items: center;
}
#header > nav.container > .logo > h2{
    padding-left: 10px;
    color: #0B0223;
    font-size: 2.8125rem;
    font-weight: 700;
}
#header > nav.container > .nav-menu-list{
    display: flex;
    align-items: center;
}
#header > nav.container > .nav-menu-list > li > a{
    display: block;
    padding: 5px 20px;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}
#header > nav.container > .nav-menu-list > li:last-child{
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    cursor: default;
}
#header > nav.container > .nav-menu-list > li:last-child > span{
    display: inline-block;
    padding: 5px 10px;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}
#header > nav.container > .nav-menu-list > li > span > a{
    color: #000;
}
/* HEADER CSS END */
#banner{
    background-image: url('../images/background/banner-1-left.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
#banner > div.container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
.banner-caption > h3{
    color: #0B0223;
    font-size: var(--text-3rem);
    font-weight: 600;
    text-transform: uppercase;
}
.banner-caption > h2{
    background: var(--linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-caption > ul{
    padding: 20px 0;
}
.banner-caption > ul > li{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 35px;
}
.banner-caption > ul > li > i{
    width: 15px;
}
.banner-caption > ul > li > span{
    padding-left: 15px;
}
.banner-button{
    margin-top: 30px;
}

.banner-images{
    text-align: right;
}
.banner-images img{
    width: 80%;
}
/* Banner Section CSS END */

#we-are-gamer div.container{
    justify-content: space-between;
    align-items: center;
}

.gamer-caption{
    text-align: right;
    width: 45vw;
}
.gamer-caption > h2,
.online-game-title > h2 > span{
    background: var(--linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: var(--text-3rem);
    font-weight: 700;
}
.gamer-caption > p{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
    padding-top: 15px;
    padding-bottom: 25px;
}
.gamer-caption > h3{
    padding-top: 20px;
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8125rem;
}
.gamer-caption > h3 > span{
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
}

/* END we-are-gamer Section */

#online-game div.container{
    flex-direction: column;
}

.online-game-title{
    text-align: center;
    padding-top: 50px;
}
.online-game-title > h2{
    color: #0B0223;
    font-size: var(--text-3rem);
    font-weight: 700;
}
.online-game-title > p{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
    padding: 15px 0;
}

.funny-games-video{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 25px;
}
.games-video{
    cursor: pointer;
}
.games-video > p{
    padding-top: 20px;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.875rem; /* 150% */
}
.video-thumbnail{
    position: relative;
    display: inline-block;
}
.video-thumbnail > .watch-now{
    background: #0000009f;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: 300ms;

    width: 100%;
    height: 99%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-thumbnail:hover > .watch-now{
    opacity: 1;
}
.video-thumbnail > .watch-now > span:first-child{
    color: #fff;
    font-size: 2.5rem;
}
.video-thumbnail > .watch-now > span:last-child{
    color: #fff;
    font-size: 1.2rem;
    padding-top: 10px;
}