/* Mobile Devices */
@media screen and (max-width: 576px) {
    :root{
        /* Font SIZE */
        --text-3rem: 2rem;
    }
    .container{
        padding: 10px 20px !important;
    }
    .primary-btn {
        padding: 14px 20px;
    }


    #header > nav.container > .logo > img{
        width: 20%;
    }
    #header > nav.container > .logo > h2 {
        font-size: 1.8125rem;
    }
    #header > nav.container > .nav-menu-list {
        flex-direction: column;
        margin-top: 15px !important;
    }

    .banner-caption > h3 {
        text-align: center;
    }
    .banner-caption > h2 {
        font-size: 4.5rem;
        text-align: center;
    }
    .banner-caption > ul > li {
        font-size: 1rem;
    }
    .banner-button{
        text-align: center;
        margin-top: 10px;
    }

    .gamer-caption > h3 {
        font-size: 1.5rem;
    }

}

/* Mobile & Medium Large Devices */
@media screen and (min-width: 576px) and (max-width: 768px) {
    #header > nav.container > .nav-menu-list{
        flex-direction: column;
    }
}

/* Tablat Devices */
@media screen and (min-width: 0px) and (max-width: 992px) {
    .container{
        flex-direction: column;
        padding: inherit 50px;
    }
    #header > nav.container > .nav-menu-list {
        margin-top: 15px !important;
    }
    #banner > div.container{
        flex-direction: column-reverse;
    }
    .banner-images{
        text-align: center;
    }
    .gamer-caption {
        text-align: center;
        width: auto;
    }
}

/* Laptop Or < 1366px Display */
@media screen and (min-width: 992px) and (max-width: 1100px){
    
    :root{
        /* Font SIZE */
        --text-3rem: 2.8rem;
    }

    #header > nav.container > .logo > h2 {
        font-size: 2.1rem;
    }
    #header > nav.container > .nav-menu-list > li:last-child > span {
        padding: 5px 5px;
    }
    .gamer-caption {
        width: 55vw;
    }
}